/*
Orange color: #e67e22;
*/



/*////////////////////////////////////////////////////////////////////////////*/
/* BASIC SETUP */
/*////////////////////////////////////////////////////////////////////////////*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #00CFC1;
    color: #000000;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
    font-size: 62.5%;
}

.clearfix {zoom: 1} 
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*////////////////////////////////////////////////////////////////////////////*/
/* REUSABLE COMPONENTS */
/*////////////////////////////////////////////////////////////////////////////*/

.row {
    max-width: 1200px;
    margin: 0 auto;  /*margin: 0 auto;*/
}

section {
    padding: 0;
}

.box {
    padding: 1%;
}

/*
#AF3800
#FE621D
#FD5200
#00CFC1
#00FFE7
*/
/*header*/
h1{
    text-align: center;
    font-size: 3.8rem;
    font-weight: 300;
}

/*section-main*/
.container{
    display: flex;
    justify-content: center;
}

.container:nth-child(2){
    margin-top: 20px;
}

.button-random-article{
    font-size: 3rem;
    width: 275px;
    height: 105px;
    border-radius: 5%;
    border: 0;
    background-image: url(img/random275x105.png);
    background-color: #FD5200;
}

.button-search{
    width: 52px;
    height: 50px;
    border: 0;
    margin-left: 20px;
    background-image: url(img/searchicon49.png);
    background-color: #FE621D;
}

input{
    font-size: 2rem;
}

.go{
    display: none;
    width: 500px;
    height: 200px;
    background-color: bisque;
    font-size: 3.6rem;
}

.results{
    text-align: center;
}

.results div{
    margin-left: 250px;
    width: 350px;
    min-height: 150px;
    background-color: #00FFE7;
    margin: 20px 40%;
}

.results div h2{
    font-size: 2rem;
}



p{
    text-align: center;
    font-size: 1.5rem;
    max-width: 250px;
    margin: 0 auto;
}



/*footer*/
footer{
    height: 80px;
}
.lastheading{
  float: right;
}
h6{
  font-size: 1.8rem;
  font-weight: 400;
  display: inline;
  color: #000000;
}

.githubimg{
  width: 50px;
  height: 50px;
  position: relative;
  top: 15px;
  margin-left: 15px;
}


